.letter{
    /* margin-top: 15px;
    margin-left: 20%; */
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    
}
.letter p{
    font-size: 20px;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
 
    .letter p{
        font-size: 15px;
    } 
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .letter p{
        font-size: 13px;
    } 
	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){

    .letter p{
        font-size: 11px;
    } 
	
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .letter p{
        font-size: 10px;
    }
}
